<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
	  
	  <!-- File Target-->
	  <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" layout="--------------------- ${level}(${longdate})${machinename}-------------------- 
			  ${newline}${newline}
			  Exception Type:${exception:format=Type}${newline}
			  Exception Message:${exception:format=Message}${newline}
			  Stack Trace:${exception:format=Stack Trace}${newline}
			  Additional Info:${message}${newline}"/>
	  
	  
	  <!-- Database target-->
	  <target name="logDb"
			  xsi:type="Database"
			  dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=X:\Dhrumit\Gateway Group of Companies\SourceControlFinalAssignment\App_Data\Database.mdf;Integrated Security=True"
			  commandType="Text"
			  commandText="INSERT INTO [dbo].[Logs] VALUES (@date, @machinename, @username, @level, @logger, @callsite, @message, @properties, @exception, @stacktrace);"
			  >
		  <parameter name="@date" layout="${longdate}" />
		  <parameter name="@machineName" layout="${machinename}" />
		  <parameter name="@username" layout="${windows-identity:domain=true}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@message" layout="${message}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@properties" layout="${all-event-properties:separator=|}" />
		  <parameter name="@callsite" layout="${callsite}" />
		  <parameter name="@exception" layout="${exception}" />
		  <parameter name="@stacktrace" layout="${stacktrace}" />
	  </target>
	  
  </targets>

  <rules>
	<!-- add your logging rules here -->

	<!--
	Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
	<logger name="*" minlevel="Debug" writeTo="f" />
	-->
	  <logger name="fileLogger" minlevel="Off" writeTo="logFile" />
	  <logger name="dbLogger" minlevel="Off" writeTo="logDb"/>
  </rules>
</nlog>
