<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="d-flex jjustify-content-center align-items-center flex-column">
    <h1 class="p-0 m-3 text-danger text-center mt-5">Error</h1>
    <p class="text-center p-0 m-3 mt-5">@ViewBag.Error.Message.ToString()</p>
</body>
</html>
