@{
    ViewBag.Title = "Dashboard";
}

<div class="px-5 py-3">
    <h1>Hello, @ViewBag.username</h1>
    <p>Welcome to the Product Management Dashboard.</p>
    <p>From here you have two options to navigate</p>
    <ul>
        <li>Visit the product list page.</li>
        <li>Add a new product to the list.</li>
    </ul>
    <p>After finishing your work don't forget to logout.</p>
    <p class="text-right">Love, <span class="font-weight-bold mr-5">Developer</span></p>
</div>
