.custom-file-label{
  margin-top: 2.4rem!important;
}

.head{
  padding-bottom: 1rem;
  border-bottom: 3px solid #3d70b2;
}

.submit-btn{
  background-color: #3d70b2!important;
  color: f0f3f6!important;
}